* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    height: 100%;
}

.combobox-container {
    background-color: beige;
    border: none;
    border-radius: 2px;
    margin: 10% auto 0;
    height: 125px;
    width: 500px;
}